<nav>
    <div class="top-row">
        <a href="/">
            <div class="top-button">Главная</div>
        </a>
        <a href="/pages/contacts">
            <div class="top-button">Контакты</div>
        </a>
    </div>
    <div class="top-row">
        <a href="/pages/driving_directions">
            <div class="top-button">Схема проезда</div>
        </a>
        <a href="/pages/partners">
            <div class="top-button">Наши партнеры</div>
        </a>
    </div>
</nav>
