<nav>
    <div class="top-row">
        <a href="/admin">
            <div class="top-button">Панель администратора</div>
        </a>
        <a href="/admin/page_admin/index">
            <div class="top-button">Управление страницами</div>
        </a>
    </div>
    <div class="top-row">
        <a href="/admin/left_menu/index">
            <div class="top-button">Настройка меню</div>
        </a>
        <a href="/admin/files">
            <div class="top-button">Загрузка файлов</div>
        </a>
    </div>
</nav>