#content {
  * {
    box-sizing: border-box;
  }
  .menu-header {
    background-color: #BEBEBE;
  }
  .save-main-button, .save-sub-button {
    display: none;
  }
  .main-id, .sub-id {
    display: none;
  }
  .main-name-input {
    background-color: #00FF99;
  }
  .sub-name-input {
    background-color: #FFFFCC;
  }
  .menu-input, .menu-select{
    width: 35%;
  }
  .menu-button {
    width: 12%;
    overflow: hidden;
  }

}
