#content {
  * {
    box-sizing: border-box;
  }
  .menu-header {
    background-color: #BEBEBE;
  }
  .menu-input, .menu-select{
    width: 35%;
  }
  .menu-button {
    width: 12%;
    overflow: hidden;
  }
}
