{% extends template %}

{% block title %}Панель администратора{% endblock %}

{% block content %}
    <h2>Панель администратора</h2>
    <p><a href="/admin/page_admin/index">Управление страницами</a></p>
    <p><a href="/admin/left_menu/index">Настройка меню</a></p>
    <p><a href="/admin/right_banners/index">Настройка баннеров (справа)</a></p>
    <p><a href="/admin/bottom_banners/index">Настройка баннеров (снизу)</a></p>
    <p><a href="/admin/files">Загрузка файлов</a></p>
    <p><a href="/admin/change_password">Сменить пароль</a></p>
    <p><a href="/admin/logout">Выйти</a></p>
{% endblock %}
