{% extends template %}

{% block title %}Загрузка файлов{% endblock %}


{% block head %}
    <script src="/libs/ckfinder/ckfinder.js"></script>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="ckfinder1">

    </div>
{% endblock %}

