{% extends template %}

{% block title %}Сменить пароль{% endblock %}

{% block content %}
    <h2>Сменить пароль</h2>
    {% if(error == 1) %}
        <p style="color:red;">Неверный логин и/или пароль!</p>
    {% elseif(error == 2) %}
        <p style="color:red;">Пароли не совпадают!</p>
    {% endif %}
    <form action="" method="post">
        <input type="hidden" value="{{ token }}" name="token" id="token">
        <p>
            <label for="password_old">Введиите старый пароль:</label>
            <input type="password" name="password_old" id="password_old">
        </p>
        <p>
            <label for="password_new">Введиите новый пароль:</label>
            <input type="password" name="password_new" id="password_new">
        </p>
        <p>
            <label for="password_new_check">Введиите новый пароль ещё раз:</label>
            <input type="password" name="password_new_check" id="password_new_check">
        </p>
        <p>
            <input type="submit" name="submit" value="изменить пароль">
        </p>
    </form>
{% endblock %}
