.body-main {
  #header {
    margin-top: 20px;
  }
}
.body-page {

}
#header {
  #header01 {
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }

  #header02 {
    width: 80%;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}