{% extends template %}

{% block title %}Ошибка при создании страницы{% endblock %}

{% block content %}
    <h2 style="color: red; text-align: center;">
        Ошибка при создании страницы!
    </h2>
{% endblock %}








